{% extends 'websiteMain/base.html' %}

{% block body %}
{% if user.is_authenticated %}
	<h1>Hello {{ user.username }}!</h1>

	<div class="row">

	<div class="col-md-6">
		<div class="well">
		<img src="{{mall.image_url}}" alt="HTML5 Icon" style="width:100%;height:100%;">
	</div>
		<div class="well">
		<div class="panel panel-default">
  		<div class="panel-heading">Mall</div>
  		<div class="panel-body">{{mall.name}}</div>
		</div>
		<div class="panel panel-default">
  		<div class="panel-heading">Address</div>
  		<div class="panel-body">{{mall.address}}</div>
		</div>
		<div class="panel panel-default">
  		<div class="panel-heading">Phone Number</div>
  		<div class="panel-body">{{mall.phone_number}}</div>
		</div>
		<div class="panel panel-default">
  		<div class="panel-heading">City</div>
  		<div class="panel-body">{{mall.city}}</div>
		</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well">
		<div id="googleMap" style="width:100%;height:400px;"></div>

<script>

function myMap() {
var mapProp= {
    center:new google.maps.LatLng(-27.469587,153.025255),
    zoom:18,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJuOw0Qq19zTsiJWvFxHFnbWGsgcNPQ88&callback=myMap"></script>
	</div>
	</div>
	</div>

{% else %}
	<h1>End of information</h1>
{% endif %}

<!--LatLng(-27.469587,153.025255)-->


{% endblock %}
