{% extends 'websiteMain/base.html' %}
{% block body %}

{% load staticfiles %}
    <link rel = "stylesheet"
    type = "text/css"
    href="{% static 'websiteMain/helppage299.css' %}" />

<h2>Welcome to the Smart City Help Centre</h2>
<div class="well">
<p>Using Smart City</p>
<t>Just getting started on Smart City? Here are some steps you can take 
full advantage of the site right away!</t>
<t2><p style="padding-top: 15px;">1. Sign up for a Smart City Account
and choose a user type that clearly represents your preferences </p></t2>
<p style="padding-top: 15px;">2. Browse Smart City finding locations and places,
related to your user type</p>
<p style="padding-top: 15px;">3. Save your favourite locations, related to your 
user type, so you can quickly review your favourite places</p>
<p style="padding-top: 65px;">Smart City's Privacy Policy </p>
<e><p style="padding-top: 15px;">We are committed to protecting our users’ 
information. Your password protects your user account, so you should use a 
unique and strong password, limit access to your computer and browser, and log
out after having used the Smart City Service. While we take 
data protection precautions, no security measures are 
completely secure, and we do not guarantee 
the security of user information.</p>
</e>

</div>

{% endblock %}
